# SDG Test Ground

In [1]:
#Import dependencies 
%matplotlib inline
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import matplotlib.lines as mlines

## Indicator Codes & Names

In [2]:
WDIData = os.path.join('resources', 'WDIData.csv')
original_df = pd.read_csv(WDIData)

indicators = original_df['Indicator Name']
indicators = indicators.unique()
print(len(indicators))
indicators[0:11]

1429

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Access to electricity, rural (% of rural population)',
       'Access to electricity, urban (% of urban population)',
       'Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)',
       'Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)',
       'Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)',
       'Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)',
       'Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)',
       'Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+)',
       'Account ownership at a financial institution or with a mobile-money-service provider, richest 60% (% of population ages 15+)'],
      dtype=object)

In [3]:
WDISeries = os.path.join('resources', 'WDISeries.csv')
series_df = pd.read_csv(WDISeries)
series_df = series_df.iloc[:,0:3]

topic_df = series_df["Topic"].str.split(":", n=1, expand = True)
series_df.insert(1, "Topic Parent", topic_df[0])
# series_df.insert(2, "Topic Child", topic_df[1])
print(len(series_df))
series_df.head()

1429

,Series Code,Topic Parent,Topic,Indicator Name
0,AG.AGR.TRAC.NO,Environment,Environment: Agricultural production,"Agricultural machinery, tractors"
1,AG.CON.FERT.PT.ZS,Environment,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...
2,AG.CON.FERT.ZS,Environment,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...
3,AG.LND.AGRI.K2,Environment,Environment: Land use,Agricultural land (sq. km)
4,AG.LND.AGRI.ZS,Environment,Environment: Land use,Agricultural land (% of land area)

## Parent Topics

In [4]:
topics = series_df["Topic Parent"].unique()
print(len(topics))
topics

12

array(['Environment', 'Economic Policy & Debt', 'Infrastructure',
       'Financial Sector', 'World Bank, International Debt Statistics.',
       'Public Sector', 'Private Sector & Trade',
       'Social Protection & Labor', 'Education', 'Gender', 'Health',
       'Poverty'], dtype=object)

## Indicator Codes

In [5]:
substring = 'SI.POV'

agr = series_df[series_df['Series Code'].str.startswith(substring)]
print(len(agr))
agr

13

,Series Code,Topic Parent,Topic,Indicator Name
1074,SI.POV.DDAY,Poverty,Poverty: Poverty rates,Poverty headcount ratio at $1.90 a day (2011 P...
1075,SI.POV.GAPS,Poverty,Poverty: Poverty rates,Poverty gap at $1.90 a day (2011 PPP) (%)
1076,SI.POV.GINI,Poverty,Poverty: Income distribution,GINI index (World Bank estimate)
1077,SI.POV.LMIC,Poverty,Poverty: Poverty rates,Poverty headcount ratio at $3.20 a day (2011 P...
1078,SI.POV.LMIC.GP,Poverty,Poverty: Poverty rates,Poverty gap at $3.20 a day (2011 PPP) (%)
1079,SI.POV.NAGP,Poverty,Poverty: Poverty rates,Poverty gap at national poverty lines (%)
1080,SI.POV.NAHC,Poverty,Poverty: Poverty rates,Poverty headcount ratio at national poverty li...
1081,SI.POV.RUGP,Poverty,Poverty: Poverty rates,Rural poverty gap at national poverty lines (%)
1082,SI.POV.RUHC,Poverty,Poverty: Poverty rates,Rural poverty headcount ratio at national pove...
1083,SI.POV.UMIC,Poverty,Poverty: Poverty rates,Poverty headcount ratio at $5.50 a day (2011 P...
1084,SI.POV.UMIC.GP,Poverty,Poverty: Poverty rates,Poverty gap at $5.50 a day (2011 PPP) (%)
1085,SI.POV.URGP,Poverty,Poverty: Poverty rates,Urban poverty gap at national poverty lines (%)
1086,SI.POV.URHC,Poverty,Poverty: Poverty rates,Urban poverty headcount ratio at national pove...

### Translate Code to Indicator Name

In [6]:
code = 'NY.GNP.PCAP.CD'
select = series_df.loc[series_df['Series Code']==code]
select

,Series Code,Topic Parent,Topic,Indicator Name
701,NY.GNP.PCAP.CD,Economic Policy & Debt,Economic Policy & Debt: National accounts: Atl...,"GNI per capita, Atlas method (current US$)"

### Indicator Values

In [7]:
# selection = 'GNI per capita, Atlas method (current US$)'
select = original_df.loc[original_df['Indicator Code']==code]
print(len(select))
select

264

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
501,Arab World,ARB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5780.968493,6053.445004,7000.065606,7448.258147,7544.460299,7084.897629,6654.817513,6190.119471,6367.236882,NaN
1930,Caribbean small states,CSS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8765.981856,8614.941367,9315.326667,9715.496380,9648.995981,9676.421949,9086.556330,9008.397271,9240.085673,NaN
3359,Central Europe and the Baltics,CEB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,12760.332390,12908.282170,13063.386660,13416.548580,13557.560400,13215.979210,12837.605580,13024.126870,14563.876080,NaN
4788,Early-demographic dividend,EAR,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,169.550384,180.525954,...,2726.824099,2970.674271,3278.481829,3416.432217,3454.090762,3373.745534,3336.861626,3379.815663,3567.833761,NaN
6217,East Asia & Pacific,EAS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,142.719774,156.136131,174.731222,193.500256,...,7319.776405,8119.449224,9087.272233,9688.427266,9908.512445,9783.629718,9837.912546,10151.536670,10982.312520,NaN
7646,East Asia & Pacific (excluding high income),EAP,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,71.307032,77.570267,86.234680,97.707052,...,3763.230311,4345.421753,5079.446668,5714.289283,6207.062381,6456.829461,6648.648604,6960.829469,7600.548586,NaN
9075,East Asia & Pacific (IDA & IBRD countries),TEA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,72.122245,78.447667,87.202716,98.799531,...,3803.685865,4392.008030,5133.750986,5775.216117,6273.073572,6525.332297,6718.986320,7034.239389,7680.525267,NaN
10504,Euro area,EMU,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,1087.329531,1191.975117,1313.069662,1449.395082,...,39768.317030,40305.785110,39273.152670,39470.036120,39356.781620,37730.844850,36344.960400,35838.442410,38774.486210,NaN
11933,Europe & Central Asia,ECS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24486.212940,24964.496580,25273.509030,25971.850330,25997.632830,24625.549590,23322.184510,22808.815310,24328.652240,NaN
13362,Europe & Central Asia (excluding high income),ECA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7441.475878,8073.418186,9251.169369,10209.739360,10138.192050,8803.015382,7708.167008,7401.174175,7804.194900,NaN
14791,Europe & Central Asia (IDA & IBRD countries),TEC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7962.135657,8545.154435,9629.684935,10518.654330,10463.129430,9220.372223,8167.796680,7890.313427,8379.285787,NaN
16220,European Union,EUU,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,35570.720070,35932.510700,35413.187520,35819.684180,36001.075460,34794.969040,33569.363350,33037.296030,35419.815730,NaN
17649,Fragile and conflict affected situations,FCS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1417.242365,1368.060085,1667.296813,1740.952151,1769.253582,1664.255163,1607.739861,1566.893611,1576.182108,NaN
19078,Heavily indebted poor countries (HIPC),HPC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,731.881087,765.918997,817.161333,843.063452,914.464619,916.279785,903.408949,917.390892,925.845310,NaN
20507,High income,HIC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,1542.115575,1634.879951,1757.496754,1904.517480,...,39679.190180,41033.439200,42400.092300,43204.607000,43373.895880,42142.999250,41219.197700,41433.206180,44275.224660,NaN
21936,IBRD only,IBD,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4192.000681,4669.139175,5294.393860,5728.199075,5912.504536,5757.004909,5650.577129,5758.347685,6192.347295,NaN
23365,IDA & IBRD total,IBT,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3441.491108,3811.807337,4305.206659,4645.708597,4797.252745,4670.093144,4571.314866,4637.336928,4958.312378,NaN
24794,IDA blend,IDB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,104.671957,111.537348,115.727904,122.379372,...,1476.568737,1557.463876,1746.188771,1911.893771,2058.641633,2037.042984,1911.746519,1791.876091,1799.014463,NaN
26223,IDA only,IDX,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,791.172152,839.562578,910.124325,957.705159,1026.141924,1045.512960,1065.155469,1109.488088,1163.885716,NaN
27652,IDA total,IDA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1026.893495,1085.939420,1197.997184,1287.367596,1383.302024,1387.788551,1354.430136,1338.178254,1374.363931,NaN
29081,Late-demographic dividend,LTE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5768.889345,6498.272401,7472.750688,8273.507143,8669.500832,8489.008758,8326.844970,8499.108422,9259.092607,NaN
30510,Latin America & Caribbean,LCN,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8041.966017,8862.524791,9793.068482,10191.311150,10070.778790,9250.563082,8534.661607,8393.289975,8718.564794,NaN
31939,Latin America & Caribbean (excluding high income),LAC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7831.920103,8628.740289,9523.261141,9891.549555,9768.810926,8924.333710,8195.562875,8043.640506,8324.910327,NaN
33368,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7994.113802,8825.873500,9768.497063,10168.523660,10042.017510,9192.058878,8452.061578,8306.639772,8630.393323,NaN
34797,Least developed countries: UN classification,LDC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,764.186265,811.258401,891.581023,940.719016,1008.710883,1011.636587,1011.226086,1045.276360,1079.667632,NaN
36226,Low & middle income,LMY,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3332.153635,3699.268764,4188.011915,4525.706638,4678.986030,4557.232488,4466.170996,4533.536773,4843.825104,NaN
37655,Low income,LIC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,625.873280,643.716099,696.773124,756.378863,798.779460,792.397635,783.368278,791.073748,840.563490,NaN
39084,Lower middle income,LMC,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1523.821539,1679.282413,1870.894765,1973.427534,2037.975771,2034.330989,2055.050860,2104.028136,2242.032711,NaN
40513,Middle East & North Africa,MEA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6951.189532,7358.692594,8291.069872,8775.653152,8755.563562,8109.474814,7734.874435,7300.720793,7693.201730,NaN
41942,Middle East & North Africa (excluding high inc...,MNA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3983.020517,4091.965440,4581.820254,4752.848940,4627.914497,4191.589505,4124.712376,3886.780112,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334887,Sweden,SWE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,2310.000000,2490.000000,2740.000000,2960.000000,...,54570.000000,56570.000000,58930.000000,61580.000000,61690.000000,58280.000000,54430.000000,52850.000000,55490.000000,NaN
336316,Switzerland,CHE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,77570.000000,79720.000000,84880.000000,88740.000000,86560.000000,85800.000000,82110.000000,81120.000000,84410.000000,NaN
337745,Syrian Arab Republic,SYR,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,250.000000,230.000000,250.000000,270.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339174,Tajikistan,TJK,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,920.000000,1020.000000,1150.000000,1330.000000,1350.000000,1250.000000,1110.000000,1000.000000,1010.000000,NaN
340603,Tanzania,TZA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,720.000000,770.000000,810.000000,890.000000,970.000000,980.000000,970.000000,970.000000,1020.000000,NaN
342032,Thailand,THA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,110.000000,120.000000,130.000000,140.000000,...,4580.000000,4950.000000,5520.000000,5720.000000,5760.000000,5710.000000,5690.000000,5950.000000,6610.000000,NaN
343461,Timor-Leste,TLS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2850.000000,3230.000000,3290.000000,3630.000000,2960.000000,3080.000000,2370.000000,1810.000000,1820.000000,NaN
344890,Togo,TGO,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,90.000000,90.000000,100.000000,110.000000,...,560.000000,610.000000,590.000000,620.000000,640.000000,640.000000,610.000000,600.000000,660.000000,NaN
346319,Tonga,TON,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3570.000000,3800.000000,4310.000000,4480.000000,4570.000000,4520.000000,4300.000000,4250.000000,4300.000000,NaN
347748,Trinidad and Tobago,TTO,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,640.000000,750.000000,800.000000,820.000000,...,16460.000000,14970.000000,16840.000000,18750.000000,18560.000000,19130.000000,16720.000000,15970.000000,15950.000000,NaN
349177,Tunisia,TUN,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4130.000000,3990.000000,4100.000000,4160.000000,4160.000000,3960.000000,3760.000000,3520.000000,3500.000000,NaN
350606,Turkey,TUR,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10430.000000,11230.000000,11870.000000,12510.000000,12560.000000,11960.000000,11180.000000,10900.000000,10420.000000,NaN
352035,Turkmenistan,TKM,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4070.000000,4730.000000,5560.000000,6510.000000,7200.000000,7030.000000,6820.000000,6380.000000,6740.000000,NaN
353464,Turks and Caicos Islands,TCA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22600.000000,23800.000000,25040.000000,25410.000000,26740.000000,NaN
354893,Tuvalu,TUV,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4400.000000,4720.000000,4430.000000,5560.000000,4670.000000,5440.000000,5070.000000,4810.000000,5430.000000,NaN
356322,Uganda,UGA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,560.000000,630.000000,640.000000,650.000000,690.000000,700.000000,660.000000,620.000000,620.000000,NaN
357751,Ukraine,UKR,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2980.000000,3110.000000,3500.000000,3800.000000,3560.000000,2650.000000,2310.000000,2260.000000,2660.000000,NaN
359180,United Arab Emirates,ARE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,33400.000000,35030.000000,39220.000000,42840.000000,44330.000000,42860.000000,40570.000000,38550.000000,40880.000000,NaN
360609,United Kingdom,GBR,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,41650.000000,41070.000000,41700.000000,42740.000000,44320.000000,44280.000000,42990.000000,41370.000000,41770.000000,NaN
362038,United States,USA,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,3280.000000,3410.000000,3610.000000,3880.000000,...,48990.000000,50570.000000,52760.000000,53940.000000,55830.000000,56720.000000,57160.000000,59030.000000,63080.000000,NaN
363467,Uruguay,URY,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,580.000000,610.000000,660.000000,680.000000,...,10440.000000,12060.000000,13370.000000,15320.000000,15830.000000,15640.000000,14980.000000,14900.000000,15650.000000,NaN
364896,Uzbekistan,UZB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1370.000000,1650.000000,2020.000000,2270.000000,2530.000000,2600.000000,2660.000000,2350.000000,2020.000000,NaN
366325,Vanuatu,VUT,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2690.000000,2850.000000,2930.000000,3160.000000,3120.000000,2910.000000,2850.000000,2880.000000,3130.000000,NaN
367754,"Venezuela, RB",VEN,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,960.000000,990.000000,950.000000,890.000000,...,11810.000000,11980.000000,12710.000000,11970.000000,13080.000000,NaN,NaN,NaN,NaN,NaN
369183,Vietnam,VNM,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1250.000000,1370.000000,1540.000000,1720.000000,1880.000000,1970.000000,2080.000000,2120.000000,2360.000000,NaN
370612,Virgin Islands (U.S.),VIR,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372041,West Bank and Gaza,PSE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2330.000000,2720.000000,3020.000000,3190.000000,3270.000000,3380.000000,3460.000000,3520.000000,3710.000000,NaN
373470,"Yemen, Rep.",YEM,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1200.000000,1080.000000,1260.000000,1440.000000,1460.000000,NaN,NaN,NaN,NaN,NaN
374899,Zambia,ZMB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,190.000000,190.000000,210.000000,270.000000,...,1340.000000,1420.000000,1700.000000,1760.000000,1800.000000,1580.000000,1380.000000,1300.000000,1430.000000,NaN
376328,Zimbabwe,ZWE,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,NaN,NaN,270.000000,270.000000,260.000000,280.000000,...,630.000000,920.000000,1110.000000,1210.000000,1260.000000,1280.000000,1290.000000,1370.000000,1790.000000,NaN

In [8]:
SDGTiers = os.path.join('resources', 'SDGTiers.csv')
tiers_df = pd.read_csv(SDGTiers, header=1)
tiers_df = tiers_df.iloc[:,[1,2,6]]
tiers_df = tiers_df.dropna()
tiers_df.head()

,Target,Indicator,Updated Tier Classification (by IAEG-SDG Members)
1,"1.1 By 2030, eradicate extreme poverty for all...",1.1.1 Proportion of population below the inter...,Tier I
2,"1.2 By 2030, reduce at least by half the propo...",1.2.1 Proportion of population living below th...,Tier I
3,\n,"1.2.2 Proportion of men, women and children of...",Tier II
4,1.3 Implement nationally appropriate social pr...,1.3.1 Proportion of population covered by soci...,Tier II
5,"1.4 By 2030, ensure that all men and women, in...",1.4.1 Proportion of population living in house...,Tier I

## API Calls

In [9]:
import json
import requests
import datetime 
from datetime import date
from pprint import pprint

In [10]:
# Start url query
url = "https://api.worldbank.org/v2/country/WLD/indicator/SP.POP.TOTL?format=json"
response = requests.get(url).json()
results = pprint(response[1])
results

[{'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2019',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': None},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2018',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7594270356},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2017',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7510990456},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2016',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7426103221},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2015',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7340548192},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2014',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7255653881},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2013',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7170961674},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2012',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7086993625},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2011',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 7004011262},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2010',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6922947261},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2009',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6840591577},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2008',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6757887172},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2007',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6675130418},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2006',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6593623202},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2005',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6512602867},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2004',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6432374971},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2003',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6352677699},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2002',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6273526441},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2001',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6194460444},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '2000',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6115108363},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1999',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 6035284135},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1998',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5954810550},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1997',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5873071768},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1996',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5790454220},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1995',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5707533023},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1994',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5622575421},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1993',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5538448726},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1992',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5453393960},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1991',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5369210095},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1990',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5281340078},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1989',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5190965222},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1988',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5102293348},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1987',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 5013576387},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1986',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4925801334},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1985',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4840155168},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1984',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4756998073},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1983',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4675367633},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1982',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4593454253},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1981',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4512268962},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1980',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4434021975},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1979',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4357793599},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1978',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4282341460},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1977',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4208770941},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1976',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4136393107},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1975',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 4063806523},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1974',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 3989385034},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1973',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 3913217944},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1972',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 3837726171},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1971',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 3761307048},
 {'country': {'id': '1W', 'value': 'World'},
  'countryiso3code': 'WLD',
  'date': '1970',
  'decimal': 0,
  'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'obs_status': '',
  'unit': '',
  'value': 3683676306}]

In [21]:
# Set up empty dataframe
columns = ['Code','Indicator','Country','Year','Value']
values_df = pd.DataFrame(columns=columns, index=[0])

In [23]:
# Parameters
code = 'SP.POP.TOTL'
country = 'WLD'

# API call
url = f"https://api.worldbank.org/v2/country/{country}/indicator/{code}?format=json"
response = requests.get(url).json()
results = response[1]

# Iterate through each row (one year each)
for i in range(len(results)):
    row = []
    # Code
    row.append(results[i]['indicator']['id'])
    # Indicator
    row.append(results[i]['indicator']['value'])
    # Country
    row.append(results[i]['country']['value'])
    # Year
    row.append(results[i]['date'])
    # Value
    row.append(results[i]['value'])
    # Append row
    values_df.loc[i,:] = row

values_df = values_df.dropna()
values_df

           Code          Indicator Country  Year       Value
1   SP.POP.TOTL  Population, total   World  2018  7594270356
2   SP.POP.TOTL  Population, total   World  2017  7510990456
3   SP.POP.TOTL  Population, total   World  2016  7426103221
4   SP.POP.TOTL  Population, total   World  2015  7340548192
5   SP.POP.TOTL  Population, total   World  2014  7255653881
6   SP.POP.TOTL  Population, total   World  2013  7170961674
7   SP.POP.TOTL  Population, total   World  2012  7086993625
8   SP.POP.TOTL  Population, total   World  2011  7004011262
9   SP.POP.TOTL  Population, total   World  2010  6922947261
10  SP.POP.TOTL  Population, total   World  2009  6840591577
11  SP.POP.TOTL  Population, total   World  2008  6757887172
12  SP.POP.TOTL  Population, total   World  2007  6675130418
13  SP.POP.TOTL  Population, total   World  2006  6593623202
14  SP.POP.TOTL  Population, total   World  2005  6512602867
15  SP.POP.TOTL  Population, total   World  2004  6432374971
16  SP.POP.TOTL  Population, total   World  2003  6352677699
17  SP.POP.TOTL  Population, total   World  2002  6273526441
18  SP.POP.TOTL  Population, total   World  2001  6194460444
19  SP.POP.TOTL  Population, total   World  2000  6115108363
20  SP.POP.TOTL  Population, total   World  1999  6035284135
21  SP.POP.TOTL  Population, total   World  1998  5954810550
22  SP.POP.TOTL  Population, total   World  1997  5873071768
23  SP.POP.TOTL  Population, total   World  1996  5790454220
24  SP.POP.TOTL  Population, total   World  1995  5707533023
25  SP.POP.TOTL  Population, total   World  1994  5622575421
26  SP.POP.TOTL  Population, total   World  1993  5538448726
27  SP.POP.TOTL  Population, total   World  1992  5453393960
28  SP.POP.TOTL  Population, total   World  1991  5369210095
29  SP.POP.TOTL  Population, total   World  1990  5281340078
30  SP.POP.TOTL  Population, total   World  1989  5190965222
31  SP.POP.TOTL  Population, total   World  1988  5102293348
32  SP.POP.TOTL  Population, total   World  1987  5013576387
33  SP.POP.TOTL  Population, total   World  1986  4925801334
34  SP.POP.TOTL  Population, total   World  1985  4840155168
35  SP.POP.TOTL  Population, total   World  1984  4756998073
36  SP.POP.TOTL  Population, total   World  1983  4675367633
37  SP.POP.TOTL  Population, total   World  1982  4593454253
38  SP.POP.TOTL  Population, total   World  1981  4512268962
39  SP.POP.TOTL  Population, total   World  1980  4434021975
40  SP.POP.TOTL  Population, total   World  1979  4357793599
41  SP.POP.TOTL  Population, total   World  1978  4282341460
42  SP.POP.TOTL  Population, total   World  1977  4208770941
43  SP.POP.TOTL  Population, total   World  1976  4136393107
44  SP.POP.TOTL  Population, total   World  1975  4063806523
45  SP.POP.TOTL  Population, total   World  1974  3989385034
46  SP.POP.TOTL  Population, total   World  1973  3913217944
47  SP.POP.TOTL  Population, total   World  1972  3837726171
48  SP.POP.TOTL  Population, total   World  1971  3761307048
49  SP.POP.TOTL  Population, total   World  1970  3683676306

## Cleaning the Data
### Datasets included:
 - The World Bank's World Development Indicators Data
 - United Nations Development Program Human Development Reports
   - Human Development Index
   - Education Index
   - Gender

In [ ]:
filepath = os.path.join('resources', 'indicator_df.csv')
indicator_df = pd.read_csv(filepath, header=0)

filepath = os.path.join('resources','HDI_df.csv')
hdi_df = pd.read_csv(filepath)

filepath = filepath = os.path.join('resources','undp_hdr_education-index.csv')
edu_index_df = pd.read_csv(filepath)

filepath = filepath = os.path.join('resources','undp_hdr_gender-inequality-index.csv')
gii_df = pd.read_csv(filepath)

filepath= os.path.join('resources', 'WDISeries.csv')
series_df = pd.read_csv(filepath, header=0)

In [ ]:
#Pull all in all indicicators from 1990-2019
full_ind_1990_2019 = wdi_data_df[["Country Name","Country Code","Indicator Name","Indicator Code",
                                  "1990","1991","1992","1993","1994","1995","1996","1997","1998","1999",
                                  "2000","2001","2002","2003","2004","2005","2006","2007","2008","2009",
                                  "2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]]

In [ ]:
#Reformat years from columns to rows
full_ind_reformatted = pd.melt(full_ind_1990_2019, id_vars =["Country Name","Country Code","Indicator Name","Indicator Code"], 
                               value_vars=["1990","1991","1992","1993","1994","1995","1996","1997","1998","1999",
                                           "2000","2001","2002","2003","2004","2005","2006","2007","2008","2009",
                                           "2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"])

In [ ]:
#Drop all NaN from full 1990-2019 dataset 
ind_nan_dropped = full_ind_reformatted.dropna()
ind_nan_dropped_renamed = ind_nan_dropped.rename(columns={"Country Name":"country_name","Country Code":"country_code","Indicator Name":"indicator_name","Indicator Code":"indicator_code","variable":"year"})

In [ ]:
#Read in indicator topic data
code_topics_df = series_df[["Series Code","Topic"]]
code_topics_renamed = code_topics_df.rename(columns={"Series Code":"series_code","Topic":"topic"})

In [ ]:
#Merge indicators and topics
indicators_and_topics = pd.merge(ind_nan_dropped_renamed, code_topics_renamed, left_on = ["indicator_code"], right_on=["series_code"])
indicators_and_topics.head()

In [ ]:
#Reformat the HDI dataframe
hdi_reformatted = pd.melt(hdi_df, id_vars =["Country"], 
                               value_vars=["1990","1991","1992","1993","1994","1995","1996","1997","1998","1999",
                                           "2000","2001","2002","2003","2004","2005","2006","2007","2008","2009",
                                           "2010","2011","2012","2013","2014","2015","2016","2017","2018"]) 
hdi_reformatted.head()

In [ ]:
#Merge primary indicators and HDI
indicators_hdi = pd.merge(indicators_and_topics, hdi_reformatted, left_on = ["country_name", "year"], right_on=["Country", "variable"])
indicators_hdi.head()

In [ ]:
indicators_hdi_dropped = indicators_hdi.drop(["series_code","Country", "variable"], axis=1)
indicators_hdi_renamed = indicators_hdi_dropped.rename(columns={"value_x":"value","value_y":"hdi"})
indicators_hdi_renamed["category"] = indicators_hdi_renamed["topic"].str.split(':').str[0]
indicators_hdi_renamed["subcategory"] = indicators_hdi_renamed["topic"].str.split(':').str[1]
indicators_hdi_renamed.head()

In [ ]:
twb_wdi_indicators_final = indicators_hdi_renamed[["country_name","country_code","indicator_name","indicator_code","topic","category","subcategory","year","value","hdi"]]
twb_wdi_indicators_final.head()

In [ ]:
#Pull out just the WDI values
wdi_values = twb_wdi_indicators_final[["country_name","indicator_name","year","value","hdi"]]
wdi_values.head()

In [ ]:
#Select the relevent columns from the Gender Inequality Index dataframe
gii_2014_2018 = gii_df[["Country","2014","2015","2016","2017","2018"]]

#Add column for indicator name
gii_2014_2018["indicator_name"] = "Gender Inequality Index"

#Pull out space from Country column values
gii_2014_2018["country_name"] = gii_2014_2018["Country"].str.split(" ").str[1]

In [ ]:
#Pivot years
gii_2014_2018_pivot = pd.melt(gii_2014_2018, id_vars =["country_name","indicator_name"], 
                               value_vars=["2014","2015","2016","2017","2018"])

In [ ]:
#Add in HDI
gii_hdi_combined = pd.merge(gii_2014_2018_pivot, hdi_reformatted, how="left",
                            left_on=["country_name", "variable"], 
                            right_on=["Country", "variable"])

In [ ]:
#Rename columns
gii_hdi_renamed = gii_hdi_combined.rename(columns={"variable":"year", "value_x":"value","value_y":"hdi"})

#Select final dataframe columns
gii_hdi = gii_hdi_renamed[["country_name","indicator_name","year","value","hdi"]]

#Preview GII dataframe
gii_hdi.head()

In [ ]:
#Select the relevent columns from the Gender Inequality Index dataframe
ei_2014_2018 = edu_index_df[["Country","2014","2015","2016","2017","2018"]]

#Add column for indicator name
ei_2014_2018["indicator_name"] = "Education Index"

#Pull out space from Country column values
ei_2014_2018["country_name"] = ei_2014_2018["Country"].str.split(" ").str[1]

In [ ]:
#Pivot years
ei_2014_2018_pivot = pd.melt(ei_2014_2018, id_vars =["country_name","indicator_name"], 
                               value_vars=["2014","2015","2016","2017","2018"])

In [ ]:
#Add in HDI
ei_hdi_combined = pd.merge(ei_2014_2018_pivot, hdi_reformatted, how="left",
                            left_on=["country_name", "variable"], 
                            right_on=["Country", "variable"])

In [ ]:
#Rename columns
ei_hdi_renamed = ei_hdi_combined.rename(columns={"variable":"year", "value_x":"value","value_y":"hdi"})

#Select final dataframe columns
ei_hdi = ei_hdi_renamed[["country_name","indicator_name","year","value","hdi"]]

#Preview GII dataframe
ei_hdi.head()

In [ ]:
#Create combined indicators dataframe from both WDI and UNDP datasets
all_indicators = [wdi_values, gii_hdi, ei_hdi]
combined_indicators = pd.concat(all_indicators)

#Drop ".." rows
dropped_non_float = combined_indicators[combined_indicators.value != ".."]
dropped_non_float = dropped_non_float[dropped_non_float.hdi != ".."]

#Asign value and hdi columns as floats
dropped_non_float["value"] = dropped_non_float["value"].astype(float)
dropped_non_float["hdi"] = dropped_non_float["hdi"].astype(float)
dropped_non_float.head()

In [ ]:
combined_indicators_final = dropped_non_float
combined_indicators_final.dtypes

## Working with Primary Indicators 
Indicators tracked by the most countries over the most years

In [ ]:
#Set chart style for all included charts in notebook
plt.style.use('seaborn-darkgrid')

In [ ]:
#Pull out primary indicators (most commonly tracked by countries over the years)
common_indicators = [
    "Population, total",
    "Agriculture, forestry, and fishing, value added (% of GDP)",
    "Life expectancy at birth, total (years)",
    "GDP (current US$)",
    "GDP per capita (current US$)",
    "GNI per capita, Atlas method (current US$)",
    "Employers, total (% of total employment) (modeled ILO estimate)"]

primary_indicators = combined_indicators_final[combined_indicators_final['indicator_name'].isin(common_indicators) ]

filepath = os.path.join('resources','primary_indicators.csv')
primary_indicators.to_csv(filepath)

primary_indicators.head()

In [ ]:
#Create Agricultural v. HDI chart
agri_values = primary_indicators.loc[(primary_indicators['indicator_name']=='Agriculture, forestry, and fishing, value added (% of GDP)')]

# defining variables
x = agri_values['value']
y = agri_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Agricultural Contribution to GDP (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Agricultural Contribution vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Agriculture_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Life Expectancy v. HDI chart
life_values = primary_indicators.loc[(primary_indicators['indicator_name']=='Life expectancy at birth, total (years)')]

# defining variables
x = life_values['value']
y = life_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Life expectancy at birth (years)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Life Expectancy vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Life-expectancy_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create GDP v. HDI chart
gdp_values = primary_indicators.loc[(primary_indicators['indicator_name']=='GDP (current US$)')]

# defining variables
x = gdp_values['value']
y = gdp_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('GDP (US $)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Gross Domestic Product vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'GDP_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Employment v. HDI chart

GNI_values = primary_indicators.loc[(primary_indicators['indicator_name']=='GNI per capita, Atlas method (current US$)')]

# defining variables
x = GNI_values['value']
y = GNI_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('GNI per capita, (current US$)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Gross National Income vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'GNI_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Employment v. HDI chart
employment_values = primary_indicators.loc[(primary_indicators['indicator_name']=='Employers, total (% of total employment) (modeled ILO estimate)')]

# defining variables
x = employment_values['value']
y = employment_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Employment (%)',fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Employment vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Employment_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

## Working with Secondary Indicators

In [ ]:
#Pull out selected education indicators for a deeper look into how education impacts HDI
education_indicators = ["Education Index",
                        "Labor force with basic education (% of total working-age population with basic education)",
                        "Labor force with intermediate education (% of total working-age population with intermediate education)",
                        "Labor force with advanced education (% of total working-age population with advanced education)",
                        "Government expenditure on education, total (% of GDP)",
                        "Literacy rate, adult total (% of people ages 15 and above)"]

secondary_indicators_education = combined_indicators_final[combined_indicators_final['indicator_name'].isin(education_indicators) ]

#Save to CSV
filepath = os.path.join('resources','education_df.csv')
secondary_indicators_education.to_csv(filepath)

#Preview data frame
secondary_indicators_education.head()

In [ ]:
#Pull out selected gender indicators for a deeper look into how gender parity impacts HDI
gender_indicators = [
    "Gender Inequality Index",
    "Labor force, female (% of total labor force)",
    "Unemployment, female (% of female labor force) (modeled ILO estimate)",
    "School enrollment, primary (gross), gender parity index (GPI)",
    "School enrollment, secondary (gross), gender parity index (GPI)",
    "School enrollment, tertiary (gross), gender parity index (GPI)",
    "Proportion of seats held by women in national parliaments (%)"]

secondary_indicators_gender = combined_indicators_final[combined_indicators_final['indicator_name'].isin(gender_indicators) ]

#Save to CSV
filepath = os.path.join('resources','gender_df.csv')
secondary_indicators_gender.to_csv(filepath)

#Preview data frame
secondary_indicators_gender.head()

In [ ]:
#Pull out selected accessiblity (to basic and technology needs) indicators for a deeper look into how access to these things impacts HDI
access_indicators = [
    "Mobile cellular subscriptions (per 100 people)",
    "Individuals using the Internet (% of population)",
    "People using at least basic drinking water services (% of population)",
    "Access to clean fuels and technologies for cooking (% of population)",
    "Access to electricity (% of population)",
    "People using at least basic sanitation services (% of population)"]

secondary_indicators_access = combined_indicators_final[combined_indicators_final['indicator_name'].isin(access_indicators) ]

#Save to CSV
filepath = os.path.join('resources','access_df.csv')
secondary_indicators_access.to_csv(filepath)

#Preview data frame
secondary_indicators_access.head()

In [ ]:
#Create Education Index v. HDI chart
edu_1_values = secondary_indicators_education.loc[(secondary_indicators_education['indicator_name']=='Education Index')]

# defining variables
x = edu_1_values['value']
y = edu_1_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Education Index', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Education Index vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Education_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Workforce with Basic Education Index v. HDI chart
edu_2_values = secondary_indicators_education.loc[(secondary_indicators_education['indicator_name']=='Labor force with basic education (% of total working-age population with basic education)')]

# defining variables
x = edu_2_values['value']
y = edu_2_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Working Age Labor Force with Basic Education (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Workforce with Basic Education vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'WorkForceBasicEducation_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Workforce with Intermediate Education Index v. HDI chart
edu_3_values = secondary_indicators_education.loc[(secondary_indicators_education['indicator_name']=='Labor force with intermediate education (% of total working-age population with intermediate education)')]

# defining variables
x = edu_3_values['value']
y = edu_3_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Working Age Labor force with Intermediate Education (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Workforce with Intermediate Education vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'WorkForceIntermediateEducation_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Workforce with Advanced Education Index v. HDI chart
edu_4_values = secondary_indicators_education.loc[(secondary_indicators_education['indicator_name']=='Labor force with advanced education (% of total working-age population with advanced education)')]

# defining variables
x = edu_4_values['value']
y = edu_4_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Working Age Labor force with Advanced Education (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Workforce with Advanced Education vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'WorkForceAdvancedEducation_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Government Total Expenditure on Education v. HDI chart
edu_5_values = secondary_indicators_education.loc[(secondary_indicators_education['indicator_name']=='Government expenditure on education, total (% of GDP)')]

# defining variables
x = edu_5_values['value']
y = edu_5_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Government Total Expenditure on Education', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Government Total Expenditure on Education vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'ExpenditureEducation_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Adult Literacy Rate v. HDI chart
edu_6_values = secondary_indicators_education.loc[(secondary_indicators_education['indicator_name']=='Literacy rate, adult total (% of people ages 15 and above)')]

# defining variables
x = edu_6_values['value']
y = edu_6_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Adult Literacy Rate (% of people ages 15 and above)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Adult Literacy Rate vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Literacy_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Gender Inequality Index v. HDI chart
gender_1_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='Gender Inequality Index')]

# defining variables
x = gender_1_values['value']
y = gender_1_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Gender Inequality Index', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Gender Inequality Index vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'GII_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Female Unemployment v. HDI chart
gender_2_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='Unemployment, female (% of female labor force) (modeled ILO estimate)')]

# defining variables
x = gender_2_values['value']
y = gender_2_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Unemployed Female Percentage of Labor Force', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Unemployed Female Percentage of Labor Force vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Female_Unemployment_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Female Labor Force Percentage v. HDI chart
gender_3_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='Labor force, female (% of total labor force)')]

# defining variables
x = gender_3_values['value']
y = gender_3_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Labor Force, Female (% of total labor force)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Female Labor Force Percentage vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Female_Labor_Force.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Primary School enrollment Gender parity index (GPI) v. HDI chart
gender_4_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='School enrollment, primary (gross), gender parity index (GPI)')]

# defining variables
x = gender_4_values['value']
y = gender_4_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Primary School Enrollment (Gross), Gender Parity Index (GPI)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Primary School Enrollment Gender Parity Index vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Primary_GPI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Secondary School enrollment Gender parity index (GPI) v. HDI chart
gender_5_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='School enrollment, secondary (gross), gender parity index (GPI)')]

# defining variables
x = gender_5_values['value']
y = gender_5_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Secondary School Enrollment (Gross), Gender Parity Index (GPI)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Secondary School Enrollment Gender Parity Index vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Secondary_GPI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Tertiary School enrollment Gender tertiary index (GPI) v. HDI chart
gender_6_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='School enrollment, tertiary (gross), gender parity index (GPI)')]

# defining variables
x = gender_6_values['value']
y = gender_6_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Tertiary School Enrollment (Gross), Gender Parity Index (GPI)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Tertiary School Enrollment Gender Parity Index vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Tertiary_GPI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Percentage of Seats Held by Women in National Parliaments v. HDI chart
gender_7_values = secondary_indicators_gender.loc[(secondary_indicators_gender['indicator_name']=='Proportion of seats held by women in national parliaments (%)')]

# defining variables
x = gender_7_values['value']
y = gender_7_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Seats Held by Women in National Parliaments (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Seats Held by Women in National Parliaments vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Women_ParliamentSeats.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Mobile Subscriptions v. HDI chart
access_1_values = secondary_indicators_access.loc[(secondary_indicators_access['indicator_name']=='Mobile cellular subscriptions (per 100 people)')]

# defining variables
x = access_1_values['value']
y = access_1_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Mobile Cellular Subscriptions (per 100 people)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Mobile Subscriptions vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Mobile_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Access to Electricity v. HDI chart
access_2_values = secondary_indicators_access.loc[(secondary_indicators_access['indicator_name']=='Access to electricity (% of population)')]

# defining variables
x = access_2_values['value']
y = access_2_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Access to Electricity (% of population)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Access to Electricity vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Electric_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Percent of Population Using the Internet v. HDI chart
access_3_values = secondary_indicators_access.loc[(secondary_indicators_access['indicator_name']=='Individuals using the Internet (% of population)')]

# defining variables
x = access_3_values['value']
y = access_3_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Individuals using the Internet (% of population)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Percent of Population Using the Internet vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Internet_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Percent of Population with at least Drinking Water Services v. HDI chart
access_4_values = secondary_indicators_access.loc[(secondary_indicators_access['indicator_name']=='People using at least basic drinking water services (% of population)')]

# defining variables
x = access_4_values['value']
y = access_4_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Population Using at Least Basic Drinking Water Services (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Basic Drinking Water Services vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Water_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Percent of Population with Clean Fuels and Technologies for Cooking v. HDI chart
access_5_values = secondary_indicators_access.loc[(secondary_indicators_access['indicator_name']=='Access to clean fuels and technologies for cooking (% of population)')]

# defining variables
x = access_5_values['value']
y = access_5_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)
plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Population with clean fuels and technologies for cooking (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Clean Fuels and Technologies for Cooking vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Cooking_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)

In [ ]:
#Create Percent of Population with at least Basic Sanitation Services v. HDI chart
access_6_values = secondary_indicators_access.loc[(secondary_indicators_access['indicator_name']=='People using at least basic sanitation services (% of population)')]

# defining variables
x = access_6_values['value']
y = access_6_values['hdi']

# linear regression stats and fitline
slope, intercept, r_value, p_value, _ = stats.linregress(x,y)
fit = intercept + slope*(np.array(x))

# Scatter plot
fig, ax = plt.subplots(figsize = (7,5))
ax.scatter(x, y, color="#233D4D", alpha=0.35, zorder=2)

plt.plot(x, fit, color="#D8D52B", label='fitted line', linewidth=0.8)
plt.grid(zorder=0)

plt.xlabel('Population using at least basic sanitation services (%)', fontsize=14)
plt.ylabel('HDI', fontsize=14)
plt.title("Basic Sanitation Services vs. HDI", fontsize=18)

# Show the figure
plt.tight_layout()
img_path = os.path.join('static/images', 'Sanitation_HDI.png')
plt.savefig(img_path, transparent=True)
plt.show()

print(r_value**2)